<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="story">
            <h2><span>Story</span> {{ story.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Keyword</span></dt>
                <dd>
                    <span>{{ story.keyword }}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{ story.description }}</span>
                </dd>
                <dt><span>Title</span></dt>
                <dd>
                    <span>{{ story.title }}</span>
                </dd>
                <dt><span>Handle</span></dt>
                <dd>
                    <span>{{ story.handle }}</span>
                </dd>
                <dt><span>Content</span></dt>
                <dd>
                    <span>{{ story.content }}</span>
                </dd>
                <dt><span>Author</span></dt>
                <dd>
                    <span>{{ story.author }}</span>
                </dd>
                <dt><span>Is Publish</span></dt>
                <dd>
                    <span>{{ story.isPublish }}</span>
                </dd>
                <dt><span>Publish Date</span></dt>
                <dd>
                    <span>{{ story.publishDate }}</span>
                </dd>
                <dt><span>Category</span></dt>
                <dd>
                    <div *ngIf="story.category">
                        <a [routerLink]="['/category', story.category?.id, 'view']">{{ story.category?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/story', story.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
