<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Truyện tuổi thơ</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Varela&display=swap" rel="stylesheet">
    </head>
    <body class="body">
        <div class="container">
            <div class="row" th:replace="fragments/header :: header" />
            <div class="row" style="font-family: 'Varela', sans-serif;">
                <div class="col-md-9" layout:fragment="content" id="main-content-page" />
                <div class="col-md-3" layout:fragment="top-hit">
                    <div class="container-fluid">
                        <div class="row">
                            <span>Truyện đề xuất</span>
                        </div>
                        <div class="row">
                            <ul>
                                <li th:each="story: ${#httpServletRequest.getSession().getAttribute('top-hit')}">
                                    <a th:href="'/chuyen-muc/' + ${story.category.handle} + '/' + ${story.handle}" th:text="${story.title}"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="row" th:replace="fragments/footer :: footer"/>-->
        </div>
    </body>
</html>
