<div th:fragment="header">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item" th:each="category: ${#httpServletRequest.getSession().getAttribute('menu')}">
                            <a class="nav-link" th:href="'/chuyen-muc/' + ${category.handle}" th:text="${category.name}"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</div>
