<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout}">
<head>
    <title>
        Truyen tuoi tho
    </title>
</head>
<body class="body bg-light">
<div class="content" layout:fragment="content" style="font-family: 'Varela', sans-serif;">
    <div class="container-fluid">
        <div class="row" th:each="story: ${stories}">
            <a th:href="'/chuyen-muc/' + ${categoryName}" th:text="'[' + ${categoryName} + '] '"></a> <a th:href="'/chuyen-muc/' + ${story.category.handle} + '/' + ${story.handle}" th:text="${story.title}"></a>
            <p th:text="${story.description}"></p>
            <p th:text="'Ngày đăng: ' + ${story.publishDate}"></p>
        </div>
        <div class="row">
            <p th:text="'Total records: ' + ${total}"></p>
        </div>
    </div>
</div>
</body>
