<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout}">
<head>
    <title>
        Truyen tuoi tho
    </title>
</head>
<body class="body bg-light">
<div class="content" layout:fragment="content">
    <div class="container-fluid">
        <div th:each="category: ${categories}">
            <div class="row">
                <a th:href="'/chuyen-muc/' + ${category.handle}" th:text="${category.name}"></a>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <ul>
                        <li th:each="story,iter : ${category.stories.subList(0,5)}">
                            <a th:href="'/chuyen-muc/' + ${category.handle} + '/' + ${story.handle}" th:text="${story.title}"></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li th:each="story,iter : ${category.stories.subList(5,10)}">
                            <a th:href="'/chuyen-muc/' + ${category.handle} + '/' + ${story.handle}" th:text="${story.title}"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
