<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout}">
<head>
    <title th:text="${story.title}"></title>
    <meta name="keyword" th:content="${story.keyword}">
    <meta name="description" th:content="${story.description}">
</head>
<body class="body bg-light">
<div class="content" layout:fragment="content">
    <div class="container">
        <div class="row">
            <h2 th:text="${story.title}"></h2>
            <p th:text="'Ngày đăng: ' + ${story.publishDate}"></p>
        </div>
        <div class="row">
            <p th:remove="tag" th:text="${story.content}"></p>
        </div>
    </div>
</div>
</body>
